language: go
sudo: false

go:
  - "1.10"
  - "1.11"
  - "1.12"

before_install:
  - go get github.com/mattn/goveralls
script:
  - $GOPATH/bin/goveralls -service=travis-ci -race -show -package github.com/go-cmd/cmd
